.texts-container {
  width: 100%;
  height: 30rem;
  margin-top: 15rem;
}

.texts-container p {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

.texts-container h3 {
  font-size: 5rem;
  font-weight: 500;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.search-container {
  position: relative;
}

.list-header .search-input {
  border: 0.15rem solid var(--clr-black-300);
  background: var(--clr-black);
  border-radius: 2rem;
  width: 8rem;
  height: 8rem;
  color: var(--clr-white);
  font-family: var(--font);
  font-size: 2rem;
  padding-inline-start: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.search-icon {
  position: absolute;
  right: 2rem;
  background: var(--clr-black);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-input::placeholder {
  margin-left: 5rem;
}

.list-header .search-input:hover,
.list-header .search-input:focus {
  width: 30rem;
}

.list-title {
  margin-bottom: 0 !important;
}

.list-container {
  margin-top: 2rem;
}

#list-email-value {
  width: 100%;
  max-width: 27%;
}

/* !!! TABLE RESPONSIVE CSS ON "Perfil.CSS !!! */
@media (max-width: 575px) {
  .texts-container {
    text-align: center;
  }

  .texts-container p {
    font-size: 2.5rem;
  }

  .texts-container h3 {
    font-size: 4rem;
  }

  .list-header {
    flex-direction: column;
    row-gap: 3rem;
  }
}
