@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  font-optical-sizing: auto;
  --font: "Outfit", sans-serif, system-ui, Avenir, Helvetica, Arial;

  --clr-white: #eee;
  --clr-black: #141414;
  --clr-gray: #999;
  --clr-primary: #f07f3d;
  --clr-secondary: #1e6443;
  --clr-black-100: #2e2e2e;
  --clr-black-300: #616161;
  --clr-black-shadow: #00000060;
  --clr-white-low-op: #eeeeee59;
  --clr-black-low-op: #14141450;
  --clr-black-low-op-2: #61616126;
  --clr-black-low-op-3: #00000070;
  --clr-grad-orange: linear-gradient(90deg, #ff512f 0%, #f09819 100%);
  --clr-grad-green: linear-gradient(90deg, #1e6443 0%, #7fb429 100%);
  --clr-grad-green-2: linear-gradient(to bottom, #1e6443 0%, #7fb429 100%);
  --clr-grad-stroke: linear-gradient(96deg, #009d53 0%, #f07f3d 100%);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--clr-black);
  margin-block: 1.6rem;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-grad-green-2);
  border-radius: 10rem;
}

/* SUPPORT SCROLLBAR */
@supports (scrollbar-color: black green) {
  * {
    scrollbar-color: var(--clr-grad-green-2) var(--clr-black);
    scrollbar-width: auto;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
}
