.nova-senha {
  color: var(--clr-gray);
  text-align: center;
  display: block;
  font-size: 2rem;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 1rem;
}

.nova-senha:hover {
  color: var(--clr-white);
  text-decoration: underline;
}

.nova-senha span {
  color: var(--clr-primary);
  background-image: var(--clr-grad-orange);
  background-clip: text;
  font-weight: 500;
  color: transparent;
  animation: gradient 2s linear infinite alternate;
  -webkit-background-clip: text;
}

#login-form {
  position: relative;
}

.error-message {
  text-align: center;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 2rem;
  color: var(--clr-primary);
  font-weight: 500;
}

@media (max-width: 475px) {
  .nova-senha {
    font-size: 1.65rem;
  }
}
