.nova-senha {
  color: var(--clr-gray);
  text-align: center;
  display: block;
  font-size: 2rem;
  padding-top: 3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.nova-senha:hover {
  color: var(--clr-white);
  text-decoration: underline;
}

#login-form {
  position: relative;
}

#login-form button {
  margin-top: 10rem;
}

#login-form p.error-message {
  text-align: center;
  bottom: 19rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 1.3rem;
}

@media (max-width: 475px) {
  .nova-senha {
    font-size: 1.65rem;
  }
}
