.nova-senha {
  color: var(--clr-gray);
  text-align: center;
  display: block;
  font-size: 2rem;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 4.5rem;
}

.nova-senha:hover {
  color: var(--clr-white);
  text-decoration: underline;
}

#login-form {
  position: relative;
}

.error-message {
  text-align: center;
  bottom: 15rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 1.8rem;
  color: var(--clr-primary);
  font-weight: 500;
}

@media (max-width: 475px) {
  .nova-senha {
    font-size: 1.65rem;
  }
}
